body{
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
    margin: 20px;

    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.container__header{
    margin: 0 auto;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__title{
    text-align: center;
    color: var(--gray);
}

.modes{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.mode{
    padding: 2px 5px;
    cursor: pointer;
    transition: text-decoration 250ms ease-in;
}

.mode:hover, .mode.active{
    text-decoration: underline;
    color: var(--gray);
}

.main__filter{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.main__items{
    margin-top: 5px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow: auto;
}

.main__item{
    background-color: var(--gray);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}