* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #E7F0DC;
    --prim: #597445;
    --sec: #658147;
    --ter: #729762;
    --dim-black: rgba(0, 0, 0, .4);
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--dim-black), var(--dim-black)), url("../img/CvSU-background.jpg")center/ cover no-repeat fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-container {
    background-image: linear-gradient(to right, var(--prim), var(--sec));
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: var(--gray);

    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background: linear-gradient(to right, var(--prim), var(--sec));
}

.header__logo{
    display: flex;
    gap: 5px;
    font-size: 3rem;
    cursor: pointer;
}

.header a{
    text-decoration: none;
    color: var(--gray);
}

.hamburger{
    font-size: 2rem;
    z-index: 5;
}

#burger{
    display: block;
    font-size: 1.7rem;
}

#exit{
    display: none;
}

/* .navbar{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--dim-black);
}

.header.active .navbar{
    display: block;
} */

.navbar{
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dim-black);

    display: grid;
    grid-template-columns: 0fr;
    transition: grid-template-columns 300ms ease-in;
    overflow: hidden;
}

.header.active .navbar{
    grid-template-columns: 1fr;
}

.navbar > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-top: 70px;
    padding: 30px 0;
    gap: 20px;

    overflow: hidden;
}

.active .navbar ul{
    padding: 30px;
}

.navbar__items{
    cursor: pointer;
    min-width: fit-content;
}

/* make a header for mobile: 600px */
@media (min-width: 600px){
    .header{
        padding: 0 20px;
    }

    .hamburger{
        display: none;
    }

    .navbar{
        grid-template-columns: 1fr;
        height: auto;
        position: relative;
        background-color: transparent;
    }

    .navbar ul{
        margin-top: 0;
        flex-direction: row;
    }
}